body,
iframe {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.slate {
  background-color: rgb(46, 46, 46);
  color: white;
}

.pannel {
  display: flex;
  height: 50%;
}

.editor {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  background-color: rgb(58, 58, 58);
  padding: 0.5rem;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(29, 29, 29);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.5rem;
}
.code-slate {
  flex-grow: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}
